@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.custom-header{

 	box-shadow: 0px 4px 2px -2px #BDBDBD;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	
}
